@font-face {
  font-family: 'Neo Sans Pro Regular';
  src: url("../font-faces/NeoSansPro-Regular.eot");
  src: url("../font-faces/NeoSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../font-faces/NeoSansPro-Regular.woff") format("woff"), url("../font-faces/NeoSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Neo Sans Pro Regular';
}

main {
  background-color: #1F1F1F;
  padding-bottom: 100px;
}

footer {
  background-color: #0D0D0D;
}

p {
  padding: 0;
  margin: 0;
}

.navbar_button {
  display: none;
}

.header_firstpart {
  background-color: #232323;
}

.header_secondpart {
  background-color: #131313;
}

.header_thirdpart {
  background-color: #0D0D0D;
}

.header_question_block::after {
  content: " ";
  background: #3C3C3C;
  width: 2px;
  height: 96px;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo_h {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #EAEAEA;
  padding-right: 90px;
}

.header_help {
  padding-left: 25px;
}

.header_firstpar {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #8D8D8D;
}

.header_secondpar {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #EAEAEA;
  text-decoration: none;
}

.fa-bars {
  color: #EAEAEA;
}

.modal-title {
  color: #EAEAEA;
}

.container-fluid {
  width: auto;
}

.header_getquestion {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFED00;
}

.slider_mobile_img {
  display: none;
}

.header_button,
.slider_button,
.slider_button_2,
.slider_button_3 {
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border: none;
}

.header_button {
  background: #FFED00;
  color: #1F1F1F;
}

.slider_button {
  background: #E31E24;
  color: #EAEAEA;
  margin-top: 20px;
}

.slider_button_2 {
  background: #FFED00;
  color: #1F1F1F;
  margin-top: 40px;
}

.slider_button_3 {
  background: #21385A;
  color: #EAEAEA;
  margin-top: 40px;
}

.header_anchor {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #EAEAEA;
  text-decoration: none;
}

.firstslide {
  background-image: url("/img/slider_back1.png");
}

.secondslide {
  background-image: url("/img/slider2_back.jpg");
}

.thirdslide {
  background-image: url("/img/slider3_back.jpg");
}

.slide_block {
  height: 425px;
}

.slider_block_header {
  margin-top: 100px;
}

.carousel-item {
  position: relative;
}

.slider_content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_header {
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  color: #1F1F1F;
  font-weight: bold;
  max-width: 450px;
}

.slider_header_second {
  color: #EAEAEA;
}

.slider_lvlup {
  font-size: 48px;
  line-height: 60px;
}

.slider_paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1F1F1F;
}

.slider_firstimg {
  text-align: right;
}

.slider_headersecond {
  color: #EAEAEA;
}

.slider_headerthird {
  color: #1F1F1F;
}

.content_headers {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #EAEAEA;
  margin-top: 100px;
  margin-bottom: 50px;
}

.services_articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits_article,
.services_article {
  background-color: #232323;
  border-radius: 5px;
}

.benefits_article {
  min-height: 90px;
}

.services_article {
  min-height: 620px;
}

.benefits_paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #EAEAEA;
}

.services_headers,
.form_header {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #EAEAEA;
  min-height: 60px;
}

.services_paragraph,
.services_anchor {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.services_paragraph {
  color: #FFFFFF;
  max-width: 291px;
}

.services_anchor {
  color: #FFED00;
  text-decoration: none;
  padding-bottom: 20px;
}

.services_anchor:hover {
  color: #EAEAEA;
}

.card-footer {
  padding: 0;
  border: none;
  background-color: #232323;
}

.carousel-control-next,
.carousel-control-prev {
  position: static;
  display: block;
  width: auto;
}

.carousel_margin {
  margin-bottom: 110px;
}

.content_form {
  background: #232323;
  border-radius: 5px;
}

.form_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
}

.form_input {
  width: 35%;
}

.form_input_modal {
  width: 80%;
}

.btn_modal {
  color: #FFED00;
  background: #131313;
  border: none;
}

.form_button {
  width: 25%;
}

.form-control {
  border-radius: 3px;
}

.form_btn {
  width: 100%;
  background: #FFED00;
  color: #1F1F1F;
  font-weight: bold;
  border: 1px solid #FFED00;
}

.footer_anchor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #EAEAEA;
}

.footer_anchor:hover {
  color: #EAEAEA;
}

.sign_description {
  padding-left: 25px;
}

.signs_headers {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #EAEAEA;
}

.signs_content {
  background: #232323;
  border-radius: 5px;
}

.signs_text,
.ul_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #EAEAEA;
}

.ul_text {
  list-style-type: none;
  padding: 0;
}

.signs_table {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #EAEAEA;
}

.signs_table_mobile {
  display: none;
}

.table_price {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFED00;
}

tr > td:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #EAEAEA;
}

img {
  max-width: 100%;
}

.gallery img {
  width: 100%;
  cursor: pointer;
}

#gallery-popup .modal-img {
  width: 100%;
}

.modal-content {
  background-color: #232323;
}

.offcanvas {
  background-color: #1F1F1F;
  color: #EAEAEA;
}

@media (max-width: 994px) {
  .navbar_button {
    display: block;
  }
  .header_firstpar {
    display: none;
  }
  .header_thirdpart {
    display: none;
  }
  .carousel-inner {
    max-height: 300px;
  }
  .slider_block_header {
    margin-top: 0px;
  }
  .slider_header {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    max-width: 350px;
  }
  .slider_headerthird {
    padding-top: 25px;
  }
  .slider_button_3,
  .slider_button_2 {
    margin-top: 15px;
  }
  .slider_lvlup {
    font-size: 36px;
    line-height: 48px;
  }
  .vk_icon {
    padding-right: 5px;
  }
  .header_logo_h {
    padding-left: 15px;
  }
  .header_help {
    padding-left: 0px;
  }
  .navbar {
    position: static;
  }
  .content_headers {
    margin-top: 50px;
  }
  .footer_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map_mobile {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header_firstpart {
    display: none;
  }
  .header_logo_h {
    display: none;
  }
  .header_getquestion {
    display: none;
  }
  .content_headers {
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #EAEAEA;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .services_paragraph {
    max-width: none;
  }
  .form_input {
    width: 100%;
  }
  .form_button {
    margin-top: 25px;
    width: 100%;
  }
  .signs_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .sign_description {
    margin-top: 30px;
    padding-left: 0;
    width: 100%;
  }
  .signs_text {
    text-align: justify;
    text-align: center;
  }
  .sign_img {
    width: 100%;
  }
  .table_price {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .signs_table_mobile {
    display: block;
  }
  .signs_table_desktop {
    display: none;
  }
}

@media (max-width: 575px) {
  .header_question_block::after {
    display: none;
  }
  .carousel-inner {
    max-height: 500px;
  }
  .slider_desktop_img {
    display: none;
  }
  .slider_mobile_img {
    display: block;
    margin: auto;
  }
  .slider_content {
    padding-left: 3%;
  }
  .slider_header {
    max-width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */